.textbook {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.chapterList {
	display: flex;
	justify-content: center;
	gap: 40px;

	.chapterItem {
		 a {
			padding: 20px;
			display: inline-block;
		}
	}
	
}